<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script type="text/javascript" src="javascripts/urlweather.js"></script>
    <script type="text/javascript" src="javascripts/appweather.js"></script>
  </head>
  <body ng-app="appweather">
    <div class="page-header">
        <h1>Aplicación del tiempo</h1>
    </div>
    <div class="container col-md-4 col-md-offset-4">
        <ui-view></ui-view>
    </div>
  </body>
</html>
